# Node deps
node_modules/

# Lockfiles
package-lock.json

# Environment files
.env
.env.*

# Build outputs
dist/
build/
*.js
*.js.map
*.d.ts

# Editor metadata
.vscode/
.idea/

# OS files
.DS_Store