#Canvas
CANVAS_API_BASE=https://canvas.instructure.com/api/v1/          #default
CANVAS_API_TOKEN=

#Moodle
MOODLE_URL=http://localhost:8888/moodle500          #instance_based_default
MOODLE_TOKEN=

#Open edX
BASE_URL=http://local.openedx.io            #instance_based_default
EDX_CLIENT_ID=
EDX_CLIENT_SECRET=

#Google Classroom
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""