#Canvas
CANVAS_API_BASE=https://canvas.instructure.com/api/v1/          #default
CANVAS_API_TOKEN=

#Moodle
MOODLE_URL=http://localhost:8888/moodle500          #instance_based_default
MOODLE_TOKEN=

#Open edX
BASE_URL=http://local.openedx.io            #instance_based_default
EDX_CLIENT_ID=
EDX_CLIENT_SECRET=

#Google Classroom
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""


# This env.example is only for information purpose, you don't have to put your creadentials, instead you will have put it directly in the configuration form on the frontend.
# The BASE_URL for each LMS is already pre-set(dafault) in the SDK, so if you want interacte with other domains, please change the BASE_URL in the codebase.
# For edX and Google classroom, both use OAuth authorization so, you should pre-register the redirect URL (will shown on the configuration form) in the admin portal (from there only you will get the CLIENT_ID AND CLIENT_SECRET) of edx and goole cloud, respectively.